torch==2.8.0
torchvision==0.20.0
torchaudio==2.8.0

llvmlite==0.42.0
numba==0.59.0

numpy==1.26.4
scipy>=1.12.0
scikit-learn>=1.4.0

librosa==0.11.0
soundfile==0.13.1
pydub==0.25.1
resampy
rotary_embedding_torch==0.6.5

faster_whisper==1.2.1
funasr==1.2.7
wetext

pyannote.audio>=3.1.1
pyannote.pipeline>=3.0.1

onnxruntime-gpu==1.23.2
transformers==4.52.1
huggingface_hub==0.34.4
modelscope==1.31.0

opencv-python==4.9.0.80

Flask==3.1.2
gradio==6.1.0

einops==0.8.1
ffmpeg_python==0.2.0
packaging==25.0
PyYAML==6.0.3
Requests==2.32.5
tqdm==4.67.1
json5
munch
accelerate
descript-audiotools